#headlogo{
    width: 20%;
    padding: 2%;
    display: inline;
}
a{
    padding: 2%;
    display: inline;
    margin-top: 1.5%;
    float: right;
}
#aright{
    margin-right: 3%;
}
#yup{
    border-bottom: solid black 4px;
}
#head{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    word-spacing: 20px;
    padding: .5%;
}
#sec1{
    border-bottom: solid black 2px;
}
#box{
    margin-top: 50px;
    background-color: grey;
    height: 585px;
    width: 600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.hero-image {
    background-image: url('https://via.placeholder.com/500');
    background-position: center;
    width: 500px;
    height: 500px;
    background-size: contain;
    position: relative;
    top: 60px;
    left: 50px;
}
#lang{
    width: 600px;
    display: inline-block;
    margin-left: 5%;
}
#table{
    width: 600px;
    display: inline-block;
}
#thed{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 60px;
    margin-top: 50px;
}
#dlhed{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 60px;
    margin-top: 50px;
}
dl{
    margin-left: 10%;
    margin-top: 50px;
}
dt{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 60px;
}
dd{
    font-size: 25px;
    margin-left: 15%;
    margin-top: .5%;
}