#headlogo{
    width: 20%;
    padding: 2%;
    display: inline;
}
a{
    padding: 2%;
    display: inline;
    margin-top: 2%;
    float: right;
}
#aright{
    margin-right: 3%;
 
}
nav{
    border-bottom: solid black 4px;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    word-spacing: 20px;
    padding: .5%;
}
#sec1{
    border-bottom: solid black 2px;
}
#box{
    margin-top: 50px;
    background-color: grey;
    height: 550px;
    width: 550px;
}
#hero-image {
    background-image: url('https://via.placeholder.com/500');
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}